ul.plantilla li{
    text-align: center;
    font-size: 32px;
    list-style-type: none;
    color: black;
    background-color: #007bff; /* Color de fondo */
    border: 2px solid #994095; /* Color del borde */
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px 15px; /* Espaciado interno */
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

