
.container {
    max-width: 950px;
    padding: 20px;
    background: rgba(136, 131, 131, 0.5);
    border-radius: 8px;
}

p{
    background-color: #B8B8B8; /* Color de fondo */
    border: 2px solid #007bff; /* Color del borde */
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px 15px; /* Espaciado interno */
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-size: 30px;
}
