*{
  margin: 0;
  padding: 0;

}

header{margin:0;
padding:0}

.menu {
  background-color: #4b2c7e;
  padding: 10px 0;
}

.menu a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 16px;
  padding: 10px 15px;
  display: block;
}

.menu a:hover {
  background-color: #1aaaa3; /* Fondo al pasar el cursor */
  color: #000000;
}

.menu img {
  vertical-align: middle;
  margin-right: 20px;
}

.menu ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-item {
  position: relative;
}

.menu-item > a {
  padding: 10px 20px;
}

.menu-item[aria-haspopup="true"]:hover > ol {
  display: block;
}

.menu-item ol {
  display: none;
  position: absolute;
  top: 100%; 
  left: 0;
  background-color: #1959ac;
  padding: 0;
}

.menu-item ol li {
  width: 200px;
}

.menu-item ol a {
  padding: 10px;
  white-space: nowrap; /* Hace que se muestre en una sola linea*/
}

.menu-item ol a:hover {
  background-color: #1aaaa3;
}

/* Estilo para el submenú */
.sub-menu {
  display: none;
}

.menu-item:hover .sub-menu {
  display: block;
}

.sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #1aaaa3;
}

.sub-menu li {
  display: block;
}

.sub-menu a {
  padding: 10px;
  display: block;
  width: 200px;
}

.logo{
  display: block;
  max-width: 100%;
}

body{
  background-color: #5F3EE3;
  font-family: Arial, sans-serif;
  padding: 20px;
}

/* Estilos para el header */
header {
  display: flex; 
  align-items: center; 
  margin: 0;
  padding: 0;
  background: url(../imgs/descarga.jpg);
  background-size: 100%;
  background-position: center;
  
}

header img {
  max-width: 100%; /* Asegura que el logo no se agrande más allá de su tamaño natural */
  margin-right: 20px; 
}

header h1 {
  font-size: 52px; 
  color: #000000; 
  text-align: center;
  font-family: Noto Serif;
}

h1{
    font-size: 52px;
    text-align: center;
    font-family: Noto Serif;
}

h2{
    font-size: 32px;
    text-align: center;
    font-family: Noto Serif;
}

@font-face {
  font-family: Noto Serif;
  src: url(../fuentes/Noto\ Serif);
}

.intro-section, .objectives-section {
  margin-bottom: 40px;
}

/* Estilos para las noticias */
.news-section {
  margin: 20px;
}

.news-item {
  background-color: #3ab2d6;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.news-item h3 {
  color: red;
  margin-bottom: 10px;
  font-size: 32px;
  text-align: center;
  font-family: Noto serif;
}

.news-item img {
  width: 40%;
  height: 40%;
  border-radius: 4px;
  display: block;
  margin-left: 30%;
}

p {
  line-height: 1.5;
  background-color: #3ab2d6;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.objectives-section h3 {
  font-family: Noto serif;
  margin-bottom: 10px;
  font-size: 32px;
  text-align: center;
}

p.a {
  line-height: 1.5;
  background-color: #3ab2d6;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 10%;
  margin-right: 10%;
}
