*{
  margin: 0;
  padding: 0;
}

header{margin:0;
padding:0}

.menu {
  background-color: #4b2c7e;
  padding: 10px 0;
}

.menu a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 16px;
  padding: 10px 15px;
  display: block;
}

.menu a:hover {
  background-color: #1aaaa3; /* Fondo al pasar el cursor */
  color: #000000;
}

.menu img {
  vertical-align: middle;
  margin-right: 20px;
}

.menu ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-item {
  position: relative;
}

.menu-item > a {
  padding: 10px 20px;
}

.menu-item[aria-haspopup="true"]:hover > ol {
  display: block;
}

.menu-item ol {
  display: none;
  position: absolute;
  top: 100%; 
  left: 0;
  background-color: #1959ac;
  padding: 0;
}

.menu-item ol li {
  width: 200px;
}

.menu-item ol a {
  padding: 10px;
  white-space: nowrap; /* Hace que se muestre en una sola linea*/
}

.menu-item ol a:hover {
  background-color: #1aaaa3;
}

/* Estilo para el submenú */
.sub-menu {
  display: none;
}

.menu-item:hover .sub-menu {
  display: block;
}

.sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #1aaaa3;
}

.sub-menu li {
  display: block;
}

.sub-menu a {
  padding: 10px;
  display: block;
  width: 200px;
}

.sub-menu a:hover {
  background-color: #555;
}

.logo{
  display: block;
  max-width: 100%;
}

body{
  background-color: #38ADCA;
  font-family: Arial, sans-serif;
  padding: 20px;
}

/* Estilos para el header */
header {
  display: flex; 
  align-items: center; 
  background-color: #5F3EE3;
  margin: 0;
  padding: 0;
}

header img {
  max-width: 100%; /* Asegura que el logo no se agrande más allá de su tamaño natural */
  margin-right: 20px; 
}

header h1 {
  font-size: 52px; 
  color: #000000; 
  text-align: center;
}

h1{
    font-size: 52px;
    text-align: center;
}

h2{
    font-size: 32px;
    text-align: center;
}

.banner{
  height: 300px;
}