* {
  font-family: Arial;
}
.parallax {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.9;
  text-align: center;
  padding: 60px;
  height: 400px;
}
.div1{
  background-image: url("descarga.jpg");
}
.div2{
  background-image: url("descarga2.jpg");
}
.div3{
  background-image: url("descarga3.jpg");
}
.contenedor{
    width: 60%;
    margin-left: 20%;
}
  