body{
    background-color: red;
}
p:after{
    color: white;
    content: "Móvil";
}

@media (min-width: 600px){
    body{
        background-color: green;    
    }
    p:after{
        color: white;
        content: "Tablet";
    }
}

@media (min-width: 1024px){
    body{
        background-color: blue; 
        background: url(Sin\ nombre.gif)   
    }
    p:after{
        color: white;
        content: "Escritorio";
    }
}

