.carta{
    margin-right: 3%;
    position: relative;
    width: 320px;
    height: 400px;
}

.content{
    float: left;
    display: flex;
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.c1{
    background-image: url("uno/sentido.jpg");
    background-size: 100% 100%;
}

.c2{
    background-image: url("uno/masdos.jpg");
    background-size: 100% 100%;
}

.c3{
    background-image: url("uno/cambiocolor.jpg");
    background-size: 100% 100%;
}

.delante{
    z-index: 1;
    background-image: url("uno/reverso.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
    opacity: 0.3;
    transition: transform 0.5s, z-index 0.5s 0.25s;
}

.detras{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 0;
    transform: rotateY(180deg);
    opacity: 0;
    transition: transform 0.5s, z-index 0.5s 0.25s;
}

.carta:hover .delante{
    z-index: 0;
    opacity: 1;
}
.girada .detras{
    opacity: 1;
    z-index: 1;
    transform: rotateY(0deg);
    /* transition: transform 1s; */
}
.girada .delante{
    z-index: 0;
    transform: rotateY(180deg);
    /* transition: transform 1s z-index 1s; */
}
h1{
    font-size: 50px;
    text-align: center;
    width: 100%;
}