* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color: #333;
    color: whitesmoke;
    text-align: center;
}
header {
    background-color: #8b0000;
    color: whitesmoke;
    padding: 20px;
}
header h1{
    font-family: "Halloween Morning", sans-serif;
}
h1 {
    margin: 20px 0;
    font-size: 42px;
    letter-spacing: 2px;
}
h2 {
    margin: 20px 0;
    font-size: 36px;
    color: orangered;
}
h3 {
    margin: 20px 0;
    font-size: 30px;
    color: darkslategray;
}
h4 {
    margin: 20px 0;
    font-size: 26px;
}
#colores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
    
}
.color {
    width: 120px;
    height: 120px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-radius: 8px;
}

#texto-enlaces a.enlace {
    color: dodgerblue;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
}
#texto-enlaces a.enlace.hover {
    color: rgb(56, 85, 94);
}
#texto-enlaces a.enlace.visited {
    color: orangered;
}
.boton {
    background-color: orangered;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.boton.hover {
    background-color: #8b0000;
}
.boton.focus {
    background-color: aqua;
    outline: none;
}
 
form {
    margin-top: 20px;
    text-align: left;
    max-width: 400px;
    margin: 20px auto;
    background-color: rgba(221, 75, 49, 0.815);
    padding: 15px;
    border-radius: 10px;
}
input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid rgb(6, 42, 121);
    border-radius: 5px;
    background-color: rgb(172, 117, 117);
    color: black;
}
input:focus, textarea:focus {
    background-color: aqua;
}
@font-face {
    font-family: "Halloween Morning";
    src: url(../fuentes/Halloween\ Morning.ttf);
  }
  input{
    border: rgb(6, 42, 121) solid 2px;
    border-radius: 5px;
    background-color: rgb(172, 117, 117);
  }
  
  input.formfocus {
    background-color: rgb(56, 85, 94);
    border: rgb(6, 42, 121) solid 2px;
    border-radius: 5px;
  }
  
  input.formhover {
    border: rgb(6, 42, 121) solid 2px;
    border-radius: 5px;
    background-color: rgb(163, 61, 61);
  }
  textarea{
    border: rgb(6, 42, 121) solid 2px;
    border-radius: 5px;
    background-color: rgb(172, 117, 117);
  }
  
  textarea.formfocus {
    background-color: rgb(56, 85, 94);
    border: rgb(6, 42, 121) solid 2px;
    border-radius: 5px;
  }
  
  textarea.formhover {
    border: rgb(6, 42, 121) solid 2px;
    border-radius: 5px;
    background-color: rgb(163, 61, 61);
  }