thead{
    background: url(../imagenes/fondo_gris.gif);
}

table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    vertical-align: center;
    text-align: center;
}

tbody tr:nth-child(odd){
    background-color: rgb(247, 247, 121);
}
tbody th{
    background-color: rgb(10, 224, 224);
}
tbody th img{
    vertical-align: middle;
}

